---
title: Herkes için GNU/Linux - PaüSiber
---

<main>
  <div class="articles">

    <div class="card" >
      <a href="#">
      <div class="card-text">
        <h3>Hafta 0</h3>
        <p>Laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit DDuis aute irure dolor in reprehenderit in voluptate velituis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      </div>
      </a>
      <div class="images">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
      </div>
    </div>

    <div class="card">
      <a href="#">
      <div class="card-text">
        <h3>Hafta 0</h3>
        <p>Laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit DDuis aute irure dolor in reprehenderit in voluptate velituis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      </div>
      </a>
      <div class="images">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
      </div>
    </div>

    <div class="card">
      <a href="#">
      <div class="card-text">
        <h3>Hafta 0</h3>
        <p>Laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit DDuis aute irure dolor in reprehenderit in voluptate velituis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      </div>
      </a>
      <div class="images">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
      </div>
    </div>

    <div class="card">
      <a href="#">
      <div class="card-text">
        <h3>Hafta 0</h3>
        <p>Laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit DDuis aute irure dolor in reprehenderit in voluptate velituis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      </div>
      </a>
      <div class="images">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
        <img src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" class="activity-logo">
      </div>
    </div>



  </div>
</main>
