---
title: Herkes için GNU/Linux - PaüSiber
---

<main>
  <div class="articles">
    <% blog.articles.reverse.each do |article| %>
      <div class="card" >
        <% link_to article do %>
          <div class="card-text">
            <h3>
              <%= article.title %>
            </h3>
            <hr>
            <br>
            <p>
              <%= article.data.subtitle %>
            </p>
          </div>
        <% end %>
        <div class="images">
          <% 3.times do %>
              <img class="activity-logo" src="https://cdn.dribbble.com/users/3281732/screenshots/6784133/samji_illustrator_2x.jpeg" alt="" >
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</main>
